body{
  font-family: 'Pattaya', sans-serif;
  background-color: #BAF2E9;
  align-items: center;
}
header{
  background-image: url("./images/headerpic.jpg");
  background-position: center;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  margin: 20px;
}
header, footer{
  font-family: 'Playfair Display', serif;
}

form{
  align-items: center;
  margin: 20px
}
input[type=text]{
  width: 200px;
  height: 20px;
}

#results{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.book{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  width: 300px;
  align-items: center;
  border: 2px dashed darkblue;
  height: 220px;
}
h4, h5{
  margin: 2px;
}
.intro{
  margin: 10px;
  text-align: right;
  align-self: center;
  overflow: auto
}
.book img{
  height: auto;
  margin: 1px;
}


/*source: https://www.w3schools.com/howto/howto_css_modals.asp */
/*Modal Customization */
.bksModal{
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top of the webpage*/ 
  overflow: auto; /* to enable scroll */
  background-color: rgb(148, 206, 98); /* Fallback color */
  background-color: white; /* Black w/ opacity */
}
/*Model Content Customization */
.modalContent{
  background-color: #BAD7F2;
  color: wheat;
  border: 4px solid rgb(127, 127, 219);
}
.close:hover, .close:focus{
  color: red;
  cursor: pointer;
}
.close{
  font: 200;
}
.modalbtn{
  width: 150px;
  height: 30px;
  background-color: #629488;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  text-align: center;
}
.modalbtn:hover{
  background-color: #43635c;
}

footer{
  color: white;
  background-color: #1c6a58;
  border-radius: 20px;
  text-align: center;
  margin: 80px;
}
#quoteft{
  font-style: italic;
  animation: slide 3s;
  overflow: auto;
}
@keyframes slide {
  0% {color: white; right:0px; top:0px;}
  50% {color:blue; left:200px; top:200px;}
  100% {color: whitesmoke; left:0px; top:0px;}
}