body{
  font-family: 'Pattaya', sans-serif;
  background-color: #BAF2E9;
  align-items: center;
  border: 5px solid black;
  border-radius: 15px;
}
header{
  background-image: url('./images/headerpic.jpg');
  background-position: center;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  margin: 0px;
}
#top{
  background-color: #f2e2ba;
}
header, footer{
  font-family: 'Playfair Display', serif;
}
form{
  align-items: center;
  margin: 5px 20px 0px;
  text-align: center;
  border: 5px solid #f2e2ba;
  border-radius: 10px;
}

input[type=text],#submitSearch, #type{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}

label{
  align-items: center;
}
#submitSearch{
  width: 150px;
  height: 30px;
  background-color: #629488;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  text-align: center;
}
#results{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.book{
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  width: 300px;
  align-items: center;
  border: 2px dashed darkblue;
  height: 220px;
}
h4, h5{
  margin: 2px;
}
h5{
   font-family: 'Montserrat', sans-serif;
}
.intro{
  margin: 4px;
  text-align: right;
  overflow: auto;
  word-wrap: break-word;
  align-self: center;
  width: 150px;
  max-height: 200px;
}
.book img{
  height: auto;
  margin: 4px;
  max-height: 200px;
}


/*source: https://www.w3schools.com/howto/howto_css_modals.asp */
/*Modal Customization */
.bksModal{
  display: none;
  position: relative;
  z-index: 1; /* Sit on top of the webpage*/ 
  margin: -5% auto;
  left: 50%;
  top: 50%;
  transform: translate(-47%, -67%);
  background-color: #f2e2ba; /* Black w/ opacity */
}
/*Model Content Customization */
.modalContent{
  background-color: #BAD7F2;
  color: black;
  border: 2px solid #384d48;
  padding: 0px 20px;
  overflow: auto;
  width: 300px;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
}
.close:hover, .close:focus{
  color: red;
  cursor: pointer;
}
.close{
  font-size: xx-large;
}
.modalbtn{
  width: 150px;
  height: 30px;
  background-color: #629488;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  text-align: center;
}
.modalbtn:hover{
  background-color: #43635c;
}

footer{
  color: white;
  background-color: #1c6a58;
  text-align: center;
  margin: 50px 0px 0px;
  padding: 5px 10px;
}

#quoteft{
  font-style: italic;
  animation: slide 3s;
  overflow: auto;
}
@keyframes slide {
  0% {color: white; right:0px; top:0px;}
  50% {color:blue; left:200px; top:200px;}
  100% {color: whitesmoke; left:0px; top:0px;}
}
body::-webkit-scrollbar-track{
  border-radius: 10px;
  background: #BAF2E9;
}
body::-webkit-scrollbar-thumb{
  background: #384d48;
}
body::-webkit-scrollbar-thumb:hover{
  background: #384d48;
}